
.title {
	display: flex;
	align-items: center;
}
.title>h2 {
	font-size: 2em;
}

.error{
	font-family: monospace;
	color:red;
	font-weight: bold;
}

table, th, td {
    border: 2px solid;
  }


  table {
    /* width: 100%; */
    border-collapse: collapse;
    border-color: rgb(220, 30, 100); 
  }

  body {
    background-image: url('/images/nature2.jpg');
    background-size: cover;
    
    /* background-color:greenyellow; */
   
  }

  .bold {
    font-weight: bold;
  }

  .box {
    background-color: rgb(255 255 255 / 0.3);
    backdrop-filter: blur(3px);
  }



