<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Lists</title>
</head>
<body>
    <div class="box">
    <h1> All weather data </h1>

    <table>
        <tr data-th-each="w : ${datalist}">
            <td>
                <a data-th-href="@{'/weather/' + ${w.dataId}}"
                   data-th-text="${w.dataId}" >
            </td>
            <td><p data-th-text="*{w.city}"></p></td>
            <td><p data-th-text="*{w.temperature} + ' deg C'"></p></td>
            <td><p data-th-text="*{w.visibility} + ' m'"></p></td>
            <td><p data-th-text="*{#dates.format(w.sunriseTime * 1000, 'HH:mm:ss dd-MM-yyyy')}"></p></td>
            <td><p data-th-text="*{#dates.format(w.sunsetTime * 1000, 'HH:mm:ss dd-MM-yyyy')}"></p></td>
            <td><p data-th-text="*{w.weathercondition.get(0).description}"></p></td>
            <td><p data-th-text="*{w.weathercondition.get(0).mainWeather}"></p></td>

          
        </tr>

    </table>
    </div>
</body>
</html>